body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #d5d2d2;
    color:rgb(0, 0, 0); 
}

ol {
    color:rgb(255, 0, 51);
}

img {
    width:700px;
    height:500px;
}  